.shelf-page {
  .books{
    max-height: 40vh;
  }
  .book{
    .book-info{
      display: flex;
      flex-wrap: wrap;
      .image {
        display: flex;
        justify-content: flex-end;
      }
    }
    .action {
      display: flex;
    }
  }
  .search-books{
    .search-form{
      display: flex;
      justify-content: space-between;
      .input-group {
        width: 50%;
      }
      .clear-search {
        cursor: pointer;
      }
    }
    .found-books{
      display: flex;
      flex-wrap: wrap;
      .found-book {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 48%;
        margin: 1%;
        @media (max-width: 400px) {
          width: 100%;
          margin: 0;
        }
        padding: 2px;
        .left, .right {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 3px;
          .rating{
            .checked {
              color: gold;
            }
          }
          .action{
            display: flex;
            flex-direction: row-reverse;
          }
        }
      }
    }
  }
}
